#python
venv
__pycache__
anime_data.csv
full_anime_data.json
most_popular_anime_data.json
thedata.csv
thedata2.csv
thedata100.csv
.gradio


# Node.js
node_modules/

# Build output
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# IDE/Editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js (if using)
.next/

# React Native
.expo/

# Parcel-bundler cache
.cache/

# Babel build output

dist/